@font-face {
    font-family: "FontsFree-Net-calibri-regular";
    src: url('/fonts/FontsFree-Net-calibri-regular.ttf');
}
@font-face {
    font-family: "calibrib";
    src: url('/fonts/calibrib.ttf');
}