@model IEnumerable<FestivalMarket.Models.EF.Product>


@if (Model != null && Model.Any())
{

    foreach (var item in Model)
    {
        /* var strImge = "";*/
        /*   var img = item.ProductImage.FirstOrDefault(x => x.);*/
        /* if (img != null)
         {
             strImge = img.Image;
         }*/

                <div class="col-6 col-lg-3">
                    <div class="p-3 p-lg-5 bg-white mb-3 item-icon-fes">
                        <div class="d-flex justify-content-center mx-auto mb-3">
                            <div class="icon-fest">
                                <img class="w-100" src="@item.Image" alt="@item.Title">
                            </div>
                        </div>
                        <div class="content-fest">
                            <h3 class="font-20 color-tim text-center mb-3"><a style="text-decoration: none"href="/chi-tiet-products/@item.Slug-@item.Id">@item.Title</a></h3>
                            <p class="font-15 mb-0 text-center">
                                @Html.Raw(FestivalMarket.Common.Utils.cutStringDescription(item.Description))
                            </p>
                        </div>
                    </div>
                </div>
 

    }


}

