@model FestivalMarket.Models.EF.Slides


@{
    var lstPro = ViewBag.getBanner as FestivalMarket.Models.EF.Slides;
}


<div class="banner">
    <img src="@lstPro.Image" alt="banner.png" class="w-100">

</div>




