
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmins.cshtml";
}

<div class="show-table">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                @Html.Partial("_Index")
            </div>
            <div class="col-md-4 p-2">
                @Html.Partial("_AddOrEdit")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/pagination.js"></script>
    <script>
        var itemInfor = new Object();

        pageSize = 15;
        $.ajax({

            url: '/Admins/CategoryFilms/GetDataJSON',
            type: 'POST',
            dataType: 'json',
            data: {

            },
            beforeSend: function () {

            },
            success: function (res) {
                data = res;
                dataFilter = res;
                updatePageCount(dataFilter.length, pageSize);
                setPagination(pageCount, 1);
                setPagingDataHtml(pageSize, 1);
                let count = data.length;
                $('#record-count').html(`Tổng số có:<span class="btn-tools btn-red">${count}</span> danh mục`);
            },
            error: function () {

            },
            complete: function () {

            }
        })
        setSelectDisplay();
        function setDataHtml(obj, stt) {
            let rowStatus = '<span class="text-success">Hoạt động</span>';
            let UPDATED_DATE = (new Date(parseInt(obj.ModifiedDate.substr(6)))).toLocaleDateString();
            if (obj.IsActive != 1) {
                rowStatus = '<span class="text-danger"> Đang khóa </span>';
            }

            let row = `<tr data-id="${obj.Id}" class="btnRowClick">
                                        <td class="text-right">${stt}</td>
                                        <td class="text-CENTER">${obj.Id}</td>
                                        <td>${obj.Title}</td>
                                        <td>
                                            ${UPDATED_DATE}
                                        </td>
                                        <td>${obj.Order}</td>
                                        <td>
                                            ${rowStatus}
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-end w-100">
                                                <button class="btn-green btn-event" onclick="fillDataFormControl(${obj.Id})"><i class="fas fa-info-circle"></i> </button>
                                                <button class="btn-yellow btn-event" onclick="fillDataFormControl(${obj.Id})"><i class="far fa-edit"></i> </button>
                                                <button class="btn-red btn-event" role="button" onclick="deleteByID(${obj.Id})"><i class="far fa-trash-alt"></i> </button>
                                            </div>
                                        </td>
                                    </tr>`;
            $('#myTable tbody').append(row);
        }
        function setListDataHtml(data, sttStart) {
            $('#myTable tbody').html('');
            let stt = sttStart;
            $.each(data, function (index, item) {
                setDataHtml(item, stt)
                stt++;
            })
        }
        function searchInput() {

            $('.search input').change(function () {
                let text = $(this).val();
                text = text.trim();
                dataFilter = data.filter(x => x.Title.toLowerCase().includes(text.toLowerCase().trim()));
                updatePageCount(dataFilter.length, pageSize);
                setPagination(pageCount, 1);
                setPagingDataHtml(pageSize, 1);
            })
            $('.search input').keyup(function (e) {
                if (e.keyCode == 13) {
                    let text = $(this).val();
                    text = text.trim();
                    dataFilter = data.filter(x => x.Title.toLowerCase().includes(text.toLowerCase().trim()));
                    updatePageCount(dataFilter.length, pageSize);
                    setPagination(pageCount, 1);
                    setPagingDataHtml(pageSize, 1);
                }
            });
        }
        searchInput();
        function sortData(key, bool) {
            dataFilter.sort((a, b) => {
                let aKey = a[key];
                let bKey = b[key];
                if (bool == true) {
                    return (aKey < bKey) ? -1 : ((aKey > bKey) ? 1 : 0);
                } else {
                    return (aKey < bKey) ? 1 : ((aKey > bKey) ? -1 : 0);
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.btnAdd , .btnCancel').click(function () {
                addNew();
            });
            $('.btnSave').click(function () {
                save();
            });
            $('.btnRowClick').click(function () {
                fillDataFormControl($('.btnRowClick').attr('data-id'));
            });
        });
        function fillDataFormControl(id) {
            dataControl = data.filter(x => x.Id == id);
            $.each(dataControl, function (index, item) {
                $.each(item, function (key, value) {
                    if (key == "IsActive") {
                        if (value == 1) {
                            $(".objInfor input[name=IsActive][value='1']").prop('checked', true);
                        } else {
                            $(".objInfor input[name=IsActive][value='0']").prop('checked', true);
                        }
                    } else
                        if (key == "CreatedDate" || key == "ModifiedDate") {
                            $(".objInfor input[name=" + key + "]").val((new Date(parseInt(value.substr(6)))).toLocaleDateString());
                        } else {
                            $(".objInfor input[name=" + key + "]").val(value);
                        }
                });
            });
        }

        function addNew() {

            $(".objInfor input[type=text]").each(function () {
                $(this).val('');
                itemInfor[$(this).attr('name')] = "";
            });
            $(".objInfor input[name=IsActive][value='1']").prop('checked', true);
            itemInfor["IsActive"] = "";
            $(".objInfor input[name=Id]").val("0");
            itemInfor["Id"] = "0";


        }

        function save() {
            let id = $(".objInfor input[name=Id]").val();
            if (id != "0")
                dataControl = data.filter(x => x.Id == id);
            else
                dataControl = data.slice(0, 1);
            //console.log(dataControl);

            $('.objInfor input[type="text"],.objProduct input[type="number"], .objProduct input[type="hidden"], .objProduct input[type="date"]').each(function () {
                itemInfor[$(this).attr('name')] = $(this).val();
            });
            let trangThai = '';
            let trangThaiEls = $(".objInfor input[name='IsActive']");
            for (index in trangThaiEls) {
                if (trangThaiEls[index].checked) {
                    trangThai = trangThaiEls[index].value;
                };
            };

            $.each(dataControl, function (index, item) {
                $.each(item, function (key, value) {
                    itemInfor[key] = $(".objInfor input[name=" + key + "]").val();
                    itemInfor["IsActive"] = trangThai;
                });
            });


            console.log(itemInfor);
            $.ajax({
                url: '/Admins/CategoryFilms/AddOrUpdate',
                type: 'POST',
                dataType: 'json',
                data: {
                    itemInfor: itemInfor
                },
                beforeSend: function () {

                },
                success: function (res) {
                    let id = $('#ID').val();
                    if (id == 0) {
                        msg0 = "Thêm mới dữ liệu thành công.";
                        msg1 = "Đã xảy ra lỗi khi thêm mới dữ liệu";
                    } else {
                        msg0 = 'Sửa đổi dữ liệu thành công';
                        msg1 = 'Đã xảy ra lỗi khi sửa đổi dữ liệu';
                    }
                    if (res != null) {
                        swal({
                            title: "Thông báo",
                            text: msg0,
                            icon: "success",
                            dangerMode: true,
                        }).then(() => {

                        });
                    } else {
                        swal({
                            title: "Thông báo",
                            text: msg1,
                            icon: "warning",
                            dangerMode: true,
                        });
                    }
                    data = res;
                    dataFilter = res;
                    updatePageCount(dataFilter.length, pageSize);
                    setPagination(pageCount, 1);
                    setPagingDataHtml(pageSize, 1);
                    let count = data.length;
                    $('#record-count').html(`Tổng số có:<span class="btn-tools btn-red">${count}</span> danh mục`);

                },
                error: function () {

                },
                complete: function () {

                }
            });
        }
    </script>


    <script>
        function deleteByID(id) {
            swal({
                title: "Xóa dữ liệu này?",
                text: "Dữ liệu xóa sẽ không thể khôi phục!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/admins/CategoryFilms/DeleteByID",
                            type: 'POST',
                            dataType: 'json',
                            data: { id: id },
                        })
                            .done(function (res) {
                                if (res == 1) {
                                    toastr.success('Đã xóa dữ liệu', 'Thông báo');
                                    LoadData(id);
                                    addNew();
                                } else if (res == 2) {
                                    swal({
                                        title: "THÔNG BÁO",
                                        text: "Đang có sản phẩm của danh mục này nên không thể xóa danh mục!",
                                        icon: "error",
                                        buttons: true,
                                        dangerMode: true,
                                    });
                                } else {
                                    toastr.success('Lỗi xử lý xóa dữ liệu', 'Thông báo');
                                }
                            })
                            .fail(function () {

                            })
                            .always(function () {

                            });
                    };
                });
        }

        function LoadData(id) {
            data = data.filter(x => x.Id !== id);
            dataFilter = data.filter(x => x.Id !== id);
            updatePageCount(dataFilter.length, pageSize);
            setPagination(pageCount, 1);
            setPagingDataHtml(pageSize, 1);
            let count = data.length;
            $('#record-count').html(`Tổng số có:<span class="btn-tools btn-red">${count}</span> danh mục`);
        }




    </script>
}

