
@{
    ViewBag.Title = "Quản lý Admin";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmins.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                @Html.Partial("_Index")
            </div>

        </div>
    </div>
</div>






