<div class="main_cart" id="load_data">
    <h2>Bạn đã gửi thông báo thành công</h2>
</div>
<style>
    .total-acount {
        font-size: 16px;
        color: #a6bf0b;
        font-weight: 600;
    }

    .main_cart {
        float: left;
        width: calc(100%);
        padding-left: 34px;
    }
</style>
